.customNode {
  border: 0.063rem solid #777;
  padding: 0.625rem;
  background-color: yellow;
  width: fit-content;
  border-radius: 0.2rem;
}

.childNode {
  border: 0.063rem solid #777;
  padding: 0.625rem;
  background-color: #ff8000 !important;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
