.handle1 {
  background: #555;
}
.delete {
  position: absolute;
  right: 0;
  top: 0;
}

.inputbox {
  background-color: yellow;
  border: none;
  outline: none;
}

.inputSecondary {
  background-color: #ff8000 !important;
  border: none;
  outline: none;
}

.react-flow__edge-custom {
  stroke: #2196F3; /* Define the color you want for the edge */
}